::ng-deep .input-size{
    display: none !important;
  }

  ::ng-deep .mat-radio-outer-circle{
    height: 30px !important;
    width: 30px !important;
  }

  ::ng-deep .mat-radio-inner-circle{
    height: 30px !important;
    width: 30px !important;
  }