::ng-deep .tooltip-inner {
    color: white;
    background-color: #000000;
    opacity:80% ;
  }
  
  ::ng-deep .bs-tooltip-left .arrow::before,
  ::ng-deep .bs-tooltip-auto[x-placement^='left'] .arrow::before {
  border-left-color: #000000 !important;
  opacity:80% ;
  }