<loading [loadingIn]="loading"></loading>

<div class="card p-5">
  <div class="col-lg-5" style="margin-left: 87%">
    <button class="btn btn-success mr-2" (click)="addApplication(content)">
      <i class="fa fa-plus"></i>&nbsp;Create
    </button>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <filter-report></filter-report>
    </div>
    <div class="col-lg-3">
      <div class="input-group mb-3" style="margin-left: 100%; margin-top: 5%">
        <input
          type="text"
          class="form-control"
          placeholder="Application name"
          id="search"
        />
        <div class="input-group-append">
          <button class="btn btn-success" type="submit" (click)="search()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8"></div>

  <hr />

  <div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr class="headings_tr">
            <th class="text-center">#</th>
            <th translate>Name</th>
            <th
              *ngFor="let item of application_category; let i = index"
              translate
            >
              {{ item.name }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of applications; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>
              <input
                style="height: 30px; width: 30px"
                type="radio"
                name="radio{{ i + 1 }}"
                checked
              />
            </td>
            <td>
              <input
                style="height: 30px; width: 30px"
                type="radio"
                name="radio{{ i + 1 }}"
              />
            </td>
            <td>
              <input
                style="height: 30px; width: 30px"
                type="radio"
                name="radio{{ i + 1 }}"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-right">
      <pagination
        [pageSize]="filter.perPage"
        [page]="filter.page"
        [collectionSize]="collectionSize"
        (paginationOut)="setPagination($event)"
      >
      </pagination>
    </div>
  </div>

  <!--Modal crear usuario-->
  <ng-template #content let-modal>
    <div class="modal-header modal-head">
      <label>Add Application</label>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="overflow: auto">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label translate>{{ "Nombre" | translate }} *</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="name"
            placeholder="{{ 'Nombre' | translate }}"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
            <div *ngIf="f['name'].errors['minlength']">
              Name must be at least 3 characters
            </div>
            <div *ngIf="f1['name'].errors['maxlength']">
              Name must not exceed 30 characters
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-outline-danger mr-2 btn-form"
        type="button"
        (click)="cancel()"
        translate
      >
        {{ "Cancelar" | translate }}
      </button>
      <button
        ladda="vm.isloading"
        class="btn btn-outline-success btn-form"
        (click)="onSubmit()"
        type="submit"
        translate
      >
        {{ "Crear" | translate }}
      </button>
    </div>
  </ng-template>

  <!--Modal editar usuario-->
  <ng-template #content1 let-modal>
    <div class="modal-header modal-head">
      <label>Edit Application-group</label>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="overflow: auto">
      <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
        <div class="form-group">
          <label translate>{{ "Nombre" | translate }} *</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="name"
            placeholder="{{ 'Nombre' | translate }}"
            [ngClass]="{ 'is-invalid': submitted1 && f1['name'].errors }"
          />
          <div *ngIf="submitted1 && f1['name'].errors" class="invalid-feedback">
            <div *ngIf="f1['name'].errors['required']">Name is required</div>
            <div *ngIf="f1['name'].errors['minlength']">
              Name must be at least 3 characters
            </div>
            <div *ngIf="f1['name'].errors['maxlength']">
              Name must not exceed 30 characters
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-outline-danger mr-2 btn-form"
        type="button"
        (click)="cancel()"
        translate
      >
        {{ "Cancelar" | translate }}
      </button>
      <button
        ladda="vm.isloading"
        class="btn btn-outline-success btn-form"
        (click)="onSubmitEdit()"
        type="submit"
        translate
      >
        {{ "Crear" | translate }}
      </button>
    </div>
  </ng-template>
</div>
