<div class="modal-header">
  <h4 class="modal-title">Terms and Conditions</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" id="wrapper">
  <h3>Time Tracking - Terms of Service</h3>
  <h3>ACCEPTANCE</h3>
  <h4>ClowdWork shall provide its software and website merely as a service (&quot;Service&quot;) to you, subject to
      the ClowdWork Terms of Service (&quot;CWTOS&quot;) and shall not be construed in any way as a contract
      for any other purpose. ClowdWork reserves the right to amend the CWTOS at any time. Should
      there be such amendments, these shall become effective only upon the posting of the CWTOS, as
      amended, on our website.</h4>
  <h3>REGISTERING FOR THE SERVICE</h3>
  <h4>Membership registration is required before you can access the Service. You agree to provide
      complete, true and accurate information, as may be required, when registering for the Service and
      to promptly update these should there be any subsequent changes thereto.</h4>
  <h4>ClowdWork reserves the right to suspend or terminate your membership and/or access to the
      Service should it be found that any of the information you provided in your membership
      registration is untrue, inaccurate, or incomplete, or should reasonable grounds arise for
      ClowdWork to suspect that the information you provided are untrue, inaccurate, or incomplete.</h4>
  <h4>ClowdWork does not assume any obligation to provide any third party facilities for access to the
      Service. You are responsible for obtaining access to the Service, which responsibility may include
      providing the necessary equipment and payments for fees and charges to third parties for data,
      Internet, and other services.</h4>
  <h4>Every time you access the Service shall be possible only upon entering your login name and
      password which you initially set during the registration process. You shall be responsible for
      maintaining the confidentiality of your password and login name, and shall likewise be responsible
      for all your activities and transactions, including payment of purchases and fees incurred, arising
      from the use of your login name and password.</h4>
  <h4>ClowdWork does not assume any liability whatsoever for the use of your login name, password or
      credit card information. Any and all purchases and fees incurred arising from your membership
      shall be for your account.</h4> 
  <h4>You undertake to immediately notify ClowdWork of any unauthorized use of your membership or
      any other breach of security upon discovery thereof. ClowdWork shall assume no liability
      whatsoever for any unauthorized access to the Service using your login name and password prior
      to such notice.</h4>
  <h3>MEMBERSHIP, FEES</h3>
  <h4>Membership registration with the Service is free. Upon prior notice however, your access to
      certain components of the service shall be charged an appropriate fee which shall be payable
      through credit card.</h4>
  <h4>By using a credit card for the payment of the fees, you represent and warrant to ClowdWork that
      you are the authorized card holder and absolve ClowdWork of any liability for any charges arising
      from the use of the Service.</h4>
  <h4>For single transactions, ClowdWork shall charge the fees to your credit card once while recurring
      fees will be charged to your credit card on a monthly basis. ClowdWork reserves the right to
      amend its schedule of fees and/or change its billing methods. Should you find any change or
      amendment unacceptable, you may opt to cancel your membership without however any right to
      demand refund for fees that have already accrued prior to such cancellation. ClowdWork reserves
      the right to impose upon you any sales or use taxes which the Service may be subjected to.</h4>
  <h3>PROHIBITED USES OF THE SERVICE</h3>
  <h4>Your access to and use of the Service shall be construed as an express undertaking on your part
      that, you will not:</h4>
  <h4>Impersonate any person, including any ClowdWork employee or agent;</h4>
  <h4>Violate any local, state, or national law; harass other people or collect or store data about them;</h4>
  <h4>Use any device, software or routine that would, in any way, interfere or attempt to interfere with
      the normal operation of the Service;</h4>
  <h4>Employ any action that imposes an unreasonably or disproportionately large load on the
      infrastructure of the Service or of its components;</h4>
  <h4>Use the Service in any manner not expressly authorized in the CWTOS;</h4>
  <h4>Reproduce, duplicate, copy, sell, resell, or exploit the Service or any portion thereof, including its
      use and access, for any commercial purposes.</h4>
  <h3>RIGHTS TO OWNERSHIP AND TRANSFER</h3>
  <h4>The access and use of the Service as provided in these CWTOS do not constitute as a transfer or
      sale of ClowdWorks ownership rights in the ClowdWork Database. ClowdWork retains all rights,
      title, and interest in and to the ClowdWork Database including all related intellectual property
      rights. You agree to use your best efforts in preventing and protecting the contents of the
      ClowdWork Database against any unauthorized use or distribution. You agree not to sell, assign,
      rent, lease, sublicense, loan, distribute, transmit, or otherwise transfer any content of the service,
      including the ClowdWork Database, as well as your rights and obligations under the CWTOS. You
      likewise agree not to copy or reproduce in any form; alter, modify, or create derivative works or
      publicly display any content of the Service, including the ClowdWork Database, except those
      expressly authorized in the CWTOS.</h4>
  <h3>MINIMUM AGE</h3>
  <h4>Any minor below the age of thirteen (13) years old is expressly prohibited from accessing,
      purchasing, or using any of ClowdWorks products and services. By registering your membership
      with ClowdWork, installing, accessing and using the Service, and accepting these CWTOS, you
      represent and warrant to ClowdWork that you are already thirteen (13) years old at the very least.</h4>
  <h3>YOUR WARRANTY</h3>
  <h4>You represent and warrant to ClowdWork: (a) that you have full power, authority, and legal
      capacity to enter into the Agreements and abide by its obligations, and if registering on behalf of a
      company or other entity, that you have been conferred full authority to bind your principal or
      employer company; (b) you have provided complete and accurate information to ClowdWork; and
      (c) you will pay ClowdWork all charges at the prevailing rate when these charges were incurred.</h4>
  <h3>INDEMNITY</h3>
  <h4>You agree to indemnify and hold ClowdWork, and its subsidiaries, affiliates, officers, agents, and
      employees, free and harmless from any claim or demand, including those for reasonable
      attorneys fees and/or litigation costs, made by any third party due to or arising from your use of
      the Service and for any violation of the CWTOS or rights of any third party.</h4>
  <h3>CHANGES TO THE SERVICE</h3>
  <h4>ClowdWork reserves the right, at any time, to modify or discontinue, temporarily or permanently,
      the Service or any part of thereof with or without prior notice. ClowdWork shall assume no liability
      to you or to any third party for any modification, suspension, or discontinuance of the Service.</h4>
  <h3>TERMINATION</h3>
  <h4>You retain the right to terminate or cancel your membership at any time.</h4>
  <h4>You may likewise cancel your membership or subscription to a particular component of the
      Service, as a matter of right and as your only available remedy, in case of any disagreement or
      dispute with ClowdWork such as, but not limited to those related to, or arising out of:</h4>
  <h4>(a) The interpretation of the CWTOS or of ClowdWorks enforcement or application of the CWTOS;</h4>
  <h4>(b) Any policy or practice of ClowdWork, including those on privacy, as well as on their
      enforcement and/or application;</h4>
  <h4>(c) Data available through the Service;</h4>
  <h4>(d) Access and use the Service; or</h4>
  <h4>(e) Amount and nature of imposed fees, surcharges, applicable taxes, and any ClowdWork billing
      methods.</h4>
  <h4>ClowdWork retains its sole discretion to terminate your membership and remove and discard any
      of your Recommendations without prior notice and based on reasonable grounds, for suspected
      violations on your part or for acts inconsistent with the CWTOS. ClowdWork assumes no liability to
      you for the termination of your membership to the Service.</h4>
  <h3>DISCLAIMER OF WARRANTIES</h3>
  <h4>THE SERVICE IS AVAILABLE FOR YOUR USE AT YOUR SOLE RISK AND IS PROVIDED ON AN &quot;AS IS&quot;
      AND AS AVAILABLE BASIS.</h4>
  <h4>CLOWDWORK EXPRESSLY DISAVOWS ALL WARRANTIES OF ANY KIND RELATED TO THE SERVICE,
      WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</h4>
  <h4>CLOWDWORK ASSUMES NO WARRANTIES FOR THE ACCURACY AND TRUTHFULNESS OF MATERIAL
      OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE. THE
      DOWNLOAD AND USE OF THESE DATA SHALL BE AT YOUR OWN DISCRETION AND RISK. ANY
      DAMAGE, LOSS OF DATA OR ANY FORM OF INJURY RESULTING FROM YOUR USE OF THE SERVICE
      SHALL BE YOUR SOLE RESPONSIBILITY.</h4>
  <h4>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM
      CLOWDWORK OR THROUGH OR FROM THE SERVICE SHALL CONSTITUTE AS AN EXPRESS OR
      IMPLIED WARRANTY EXCEPT THOSE EXPRESSLY STATED IN THE CWTOS.</h4>
  <h4>THE FOREGOING DOES NOT APPLY IN JURISDICTIONS PROHIBITING THE DISCLAIMER OF IMPLIED
      WARRANTIES. THIS WARRANTY HOWEVER IS APPLICABLE ONLY WHEN AND WHERE IT MAY BE
      AVAILABLE IN ADDITION TO OTHER SPECIFIC LEGAL RIGHTS THAT MAY BE AVAILABLE FROM STATE
      TO STATE.</h4>
  <h3>LIMITATION OF LIABILITY</h3>
  <h4>CLOWDWORK SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
      CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR
      LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES (NOTWITSTANDING
      PRIOR ADVISE TO CLOWDWORK OF THE POSSIBILITY OF THESE DAMAGES), RESULTING FROM
      YOUR USE OF THE SERVICE. UNDER NO CIRCUMSTANCES SHALL CLOWDWORK&#39;S TOTAL LIABILITY,
      IF ANY, FOR ALL CLAIMS ARISING OUT OF OR RELATED TO YOUR USE OF THE SERVICE (INCLUDING
      BUT NOT LIMITED TO WARRANTY CLAIMS), REGARDLESS OF THE FORUM AND REGARDLESS OF
      WHETHER THEY ARE BASED ON CONTRACT, TORT, OR OTHERWISE, EXCEED:</h4>
  <h4>(A) THE AMOUNT OF FEES PAID BY YOU TO CLOWDWORK IN THE 12 MONTHS PRECEDING THE
      CAUSE OF ACTION THAT GAVE RISE TO LIABILITY, IF ANY, OR</h4>
  <h4>(B) THE AMOUNT OF US$100, WHICHEVER IS LOWER.</h4>
  <h4>THIS LIMITATION OF LIABILITY WILL APPLY NOTWITHSTANDING THE FAILURE OF THE ESSENTIAL
      PURPOSE OF ANY LIMITED REMEDY IN THE CWTOS. SOME JURISDICTIONS DO NOT ALLOW THE
      EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE
      LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</h4>
  <h3>TRADEMARK INFORMATION</h3>
  <h4>ClowdWork, the ClowdWork logo, and other ClowdWork logos, products and service names are
      trademarks of and belong exclusively to ClowdWork. You may not display or use them in any form
      without prior consent of ClowdWork.</h4>
  <h3>ARBITRATION</h3>
  <h4>Excluding any legal action instituted by ClowdWork to collect fees, recover damages, or to secure
      an injunction order, ClowdWork&#39;s intellectual property rights or the Service, any other legal
      controversy or claim arising out of or relating to the Service, CWTOS or ClowdWork&#39;s intellectual
      property rights, shall be settled by arbitration in accordance with the commercial arbitration rules
      of the American Arbitration Association. Any compromise or settlement reached shall be final and
      immediately binding upon the parties herein.</h4>
  <h4>Arbitration for any controversy or claim shall proceed independently and shall not be consolidated
      with any other arbitration proceedings relating to claims or controversies involving any other
      parties. The arbitration proceedings shall be exclusively conducted within Clarke County Nevada,
      and judgment on the arbitration award may be entered with any court having jurisdiction. Either
      party herein may seek appropriate interim or preliminary relief from a court of competent
      jurisdiction in Clarke County Nevada to protect his/its respective rights or property pending the
      
      completion of arbitration. Should either party herein file an action in contravention of this
      provision, the other party may recover attorney&#39;s fees and costs not to exceed the amount of
      $1,000.00.</h4>
  <h3>GENERAL INFORMATION</h3>
  <h4>ClowdWork may communicate with you and provide notifications in accordance with the CWTOS
      through email, regular mail, or conspicuous notices and/or links of notices to you posted on the
      Service.</h4>
  <h4>The CWTOS constitutes the all the terms agreed upon between you and ClowdWork as to the use
      of the Service, and there can be, between the parties herein and their successors in interest, no
      evidence of such terms other than the contents of the CWTOS, superseding any prior agreements
      between you and ClowdWork. However, additional terms and conditions may be imposed upon
      you should you use other ClowdWork products or services.</h4>
  <h4>The CWTOS, including the relationship between you and ClowdWork, shall be governed exclusively
      by the laws of the State of Delaware notwithstanding its conflict of law provisions.</h4>
  <h4>The failure of ClowdWork to exercise or enforce any right or provision of the CWTOS shall not be
      construed as a waiver to exercise its right or enforce such provision. Any provision of the CWTOS
      declared to be invalid or unenforceable shall not affect or invalidate the remaining provisions of
      the CWTOS which shall remain in full force and effect.</h4>
  <h4>Any claim or cause of action arising out of or related to use of the Service or the CWTOS must be
      filed within 6 months after the claim or cause of action accrues; otherwise, the same shall be
      forever barred.</h4>
  <h3>TASK MANAGEMENT – TERMS OF SERVICE</h3>
  <h3>ClowdWork Terms of Service</h3>
  <h4>By using the ClowdWork (“Service”), you are agreeing to be bound by the following terms and
      conditions (“Terms of Service”).</h4>
  <h4>Clowd Technologies Inc. (“Company”) reserves the right to update and change these Terms of
      Service without notice.</h4>
  <h4>Violation of any of the terms below may result in the termination of your account.</h4>
  <h3>Account Terms</h3>
  <h4>You are responsible for maintaining the security of your account and password. The Company
      cannot and will not be liable for any loss or damage from your failure to comply with this security
      obligation.</h4>
  <h4>You are responsible for all content posted and activity that occurs under your account (even when
      content is posted by others who have their own logins under your account).</h4>
  <h4>You may not use the Service for any illegal purpose or to violate any laws in your jurisdiction
      (including but not limited to copyright laws).</h4>
  <h4>You must provide your legal full name, a valid email address, and any other information requested
      in order to complete the signup process.</h4>
  <h4>Your login may only be used by one person – a single login shared by multiple people is not
      permitted. You may create separate logins for as many people as you’d like.</h4>
  <h4>You must be a human. Accounts registered by “bots” or other automated methods are not
      permitted.</h4>
  <h3>API Terms</h3>
  <h4>Customers may access their Service data via the Application Program Interface (“API”). Any use of
      the API, including use of the API through a third-party product that accesses the Service, is bound
      by the terms of this agreement plus the following specific terms:</h4>
  <h4>You expressly understand and agree that the Company shall not be liable for any damages or
      losses resulting from your use of the API or third-party products that access data via the API.</h4>
  <h4>Abuse or excessively frequent requests to the Service via the API may result in the temporary or
      permanent suspension of your account’s access to the API. The Company, in its sole discretion, will
      determine abuse or excessive usage of the API. The Company will make a reasonable attempt via
      email to warn the account owner prior to suspension.</h4>
  <h3>Payment, Refunds, Upgrading and Downgrading Terms</h3>
  <h4>The Service is offered with a free trial for 14 days. If you need more than 14 days, you will only be
      able to continue using the Service by paying in advance for additional usage. If you fail to pay for
      additional usage, your account will be frozen and inaccessible until payment is made.</h4>
  <h4>For any upgrade or downgrade in plan level, will result in the new rate being charged at the next
      billing cycle. There will be no prorating for downgrades in between billing cycles.</h4>
  <h4>Downgrading your Service may cause the loss of features or capacity of your account. The
      Company does not accept any liability for such loss.</h4>
  <h4>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be
      responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or
      state) taxes. Where required, The Company will collect those taxes on behalf of taxing authority
      and remit those taxes to taxing authorities.</h4>
  <h4>Refunds are processed according to our fair refund policy.</h4>
  <h3>Cancellation and Termination</h3>
  <h4>You are solely responsible for properly canceling your account. All of your content will be
      inaccessible from the Service immediately upon cancellation. Within 30 days, all content will be
      permanently deleted from backups and logs. This information cannot be recovered once it has
      been permanently deleted.</h4>
  <h4>If you cancel the Service before the end of your current paid up month, your cancellation will take
      effect immediately, and you will not be charged again. But there will not be any prorating of
      unused time in the last billing cycle.</h4>
  <h4>The Company, in its sole discretion, has the right to suspend or terminate your account and refuse
      any and all current or future use of the Service for any reason at any time. Such termination of the
      Service will result in the deactivation or deletion of your Account or your access to your Account,
      and the forfeiture and relinquishment of all content in your account. The Company reserves the
      right to refuse service to anyone for any reason at any time.</h4>
  <h3>Modifications to the Service and Prices</h3>
  <h4>The Company reserves the right at any time and from time to time to modify or discontinue,
      temporarily or permanently, any part of the Service with or without notice.</h4>
  <h4>Prices of all Services are subject to change upon 30 day notice from us. Such notice may be
      provided at any time by posting the changes to the ClowdWork site or the Service itself.</h4>
  <h4>The Company shall not be liable to you or to any third party for any modification, price change,
      suspension or discontinuance of the Service.</h4>
  <h3>Copyright and Content Ownership</h3>
  <h4>All content posted on the Service must comply with U.S. copyright law.</h4>
  <h4>We claim no intellectual property rights over the material you provide to the Service. All materials
      uploaded remain yours.</h4>
  <h4>The Company does not pre-screen content, but reserves the right (but not the obligation) in their
      sole discretion to refuse or remove any content that is available via the Service.</h4>
  <h4>The look and feel of the Service is copyright© Clowd Technologies Inc. All rights reserved. You may
      not duplicate, copy, or reuse any portion of the HTML, CSS, JavaScript, or visual design elements
      without express written permission from the Company.</h4>
  <h3>General Conditions</h3>
  <h4>Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available”
      basis.</h4>
  <h4>Technical support is only provided via email and live chat.</h4>
  <h4>You understand that the Company uses third party vendors and hosting partners to provide the
      necessary hardware, software, networking, storage, and related technology required to run the
      Service.</h4>
  <h4>You must not modify, adapt or hack the Service.</h4>
  <h4>You must not modify another website so as to falsely imply that it is associated with the Service or
      the Company.</h4>
  <h4>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of
      the Service, or access to the Service without the express written permission by the Company.</h4>
  <h4>We may, but have no obligation to, remove content and accounts that we determine in our sole
      discretion are unlawful or violates any party’s intellectual property or these Terms of Service.</h4>
  <h4>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Service
      customer, Company employee or officer will result in immediate account termination.</h4>
  <h4>You understand that the technical processing and transmission of the Service, including your
      content, may be transferred unencrypted and involve (a) transmissions over various networks; and
      (b) changes to conform and adapt to technical requirements of connecting networks or devices.</h4>
  <h4>We reserve the right to temporarily disable your account if your usage significantly exceeds the
      average usage of other Service customers. Of course, we’ll reach out to the account owner before
      taking any action except in rare cases where the level of use may negatively impact the
      performance of the Service for other customers.</h4>
  <h4>The Company does not warrant that (i) the service will meet your specific requirements, (ii) the
      service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained
      from the use of the service will be accurate or reliable, (iv) the quality of any products, services,
      information, or other material purchased or obtained by you through the service will meet your
      expectations, and (v) any errors in the Service will be corrected.</h4>
  <h4>You expressly understand and agree that the Company shall not be liable for any direct, indirect,
      incidental, special, consequential or exemplary damages, including but not limited to, damages for
      loss of profits, goodwill, use, data or other intangible losses (even if the Company has been
      advised of the possibility of such damages), resulting from: (i) the use or the inability to use the
      service; (ii) the cost of procurement of substitute goods and services resulting from any goods,
      data, information or services purchased or obtained or messages received or transactions entered
      into through or from the service; (iii) unauthorized access to or alteration of your transmissions or
      data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating
      to the service.</h4>
  <h4>The failure of the Company to exercise or enforce any right or provision of the Terms of Service
      shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire
      agreement between you and the Company and govern your use of the Service, superseding any
      prior agreements between you and the Company (including, but not limited to, any prior versions
      of the Terms of Service).</h4>
  <h4>Questions about the Terms of Service should be sent to support@ClowdWork.com.</h4>
  <h4>Any new features that augment or enhance the current Service, including the release of new tools
      and resources, shall be subject to the Terms of Service. Continued use of the Service after any such
      changes shall constitute your consent to such changes.</h4>
</div>
<div class="modal-footer">
  <button type="button" (click)="passBack()" class="btn btn-secondary">Close</button>
</div>
