::ng-deep .custom-style{
    background-color:#0096a1;
    color:white;
  }
  ::ng-deep .custom-style2{
    background-color:rgb(18, 153, 0);
    color:white;
  }

  ::ng-deep .custom-style1{
    background-color:rgb(255, 209, 5);
    color:black;
  }

  // ::ng-deep .input-size{
  //   display: none !important;
  // }

  ::ng-deep .tooltip-inner {
    color: white;
    background-color: #000000;
    opacity:80% ;
}

::ng-deep .bs-tooltip-top .arrow::before,
::ng-deep .bs-tooltip-auto[x-placement^='top'] .arrow::before {
  border-top-color: #000000 !important;
  opacity:80% ;
}


::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 9999!important;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #1BC5BD;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background: rgba(0,0,0,0.12);
  color: #1BC5BD;
 
}

::ng-deep .ng-select.ng-select-focused .ng-select-container:after{
  border-color: #1BC5BD;
}

// ::ng-deep .ng-dropdown-panel{
//   position: relative!important;
// }