<loading [loadingIn]="loading"></loading>
<div class="container">
  <div class="card p-5 mt-6">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center mt-10">
          <i class="fa fa-windows"></i>
        </div>
        <div class="text-center mt-20">
          <h1>Windows (64 bits) <span class="text-navy"><br>Windows 7</span></h1>
          <small translate="">
            <span class="">Versión mínima soportada</span>
          </small>
          <div>
            <div class="text-center my-20">
              <p class="text-center">
                <a target="_blank" href="https://app.clowdwork.com/packages?file=clowdtrack_6.0.1-425-g8f458bcd.exe" class="btn btn-light-success" data-style="zoom-in">
                  <span class="ladda-label">
                    <span translate=""><span class="ng-scope">Versión Windows</span></span><br>6.0.1-425
                  </span>
                  <span class="ladda-spinner"></span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="text-center mt-10">
          <i class="fa fa-linux"></i>
        </div>
        <div class="text-center mt-20">
          <h1>GNU/Linux (64 bits) <span class="text-navy"><br>Ubuntu 18.04 LTS</span></h1>
          <small translate="">
            <span class="">Versión mínima soportada</span>
          </small>
          <div>
            <div class="text-center my-20">
              <p class="text-center">
                <a target="_blank" href="https://app.clowdwork.com/packages?file=clowdtrack_6.0.1-418-g7349ff1d.run" class="btn btn-light-success" data-style="zoom-in">
                  <span class="ladda-label">
                    <span translate=""><span class="ng-scope">Versión Linux</span></span><br>6.0.1-418
                  </span>
                  <span class="ladda-spinner"></span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center mt-10">
          <i class="fa fa-apple"></i>
        </div>
        <div class="text-center mt-20">
          <h1>OS X (64 bits) <span class="text-navy"><br>OS X 10.11 (El Capitan)</span></h1>
          <small translate="">
            <span class="">Versión mínima soportada</span>
          </small>
          <div>
            <div class="text-center my-20">
              <p class="text-center">
                <a target="_blank" href="https://app.clowdwork.com/packages?file=clowdtrack_6.0.1-418-g7349ff1d.dmg" class="btn btn-light-success" data-style="zoom-in">
                  <span class="ladda-label">
                    <span translate=""><span class="ng-scope">Versión OS X</span></span><br>6.0.1-418
                  </span>
                  <span class="ladda-spinner"></span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
</div>
