<loading [loadingIn]="loading"></loading>
<div class="container">
  <div class="card p-5 mt-6">
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">  
      <div class="row">
        <div class="col text-center">
          <img [src]="'assets/imagesTest/1.jpeg'" class="img-avatar">
        </div>
      </div>       

      <div class="row form-group">
        <label class="col-md-3" translate>{{'Contraseña anterior'|translate }} *:</label>      
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="oldpassword">
        </div>
      </div> 

      <div class="row form-group">
        <label class="col-md-3" translate>{{'Nueva contraseña'|translate }} *:</label>      
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="newpassword" (keyup)="checkPassSame()">
          <div *ngIf="form.controls?.newpassword?.invalid && form.controls?.newpassword.touched">
            <p *ngIf="form.controls?.newpassword?.errors.required" class="errorMsg">*This field is required.</p>
          </div>
        </div>
      </div> 

      <div class="row form-group">
        <label class="col-md-3" translate>{{'Repetir contraseña'|translate }} *:</label>      
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="repassword" (keyup)="checkPassSame()">
          <div *ngIf="form.controls?.repassword?.invalid && form.controls?.repassword.touched">
            <p *ngIf="form.controls?.repassword?.errors.required" class="errorMsg">*This field is required.</p>
          </div>
          <div *ngIf="passmsg != '' && !form.controls?.confPass?.errors?.required">
            <p class="errorMsg">*{{passmsg}}</p>
          </div>  
        </div>
      </div>   
      
      <div class="row form-group">
        <div class="col text-right">
          <button class="btn btn-secondary">{{'Aceptar'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
