form label {
  padding-top: 10px;
  text-align: right;
  font-weight: 600;
  padding-right: 20px;
}

.file {
  display: none;
}

.img-avatar {
  border: 2px solid rgb(221, 221, 221);
  width: 75px;
  border-radius: 50%;        
}

@media (max-width: 768px) {  
  form label {
      text-align: left;   
      padding-left: 20px;     
  }
}

::ng-deep .input-size{
  display: none !important;
}